<div class="container">
    <div class="content">
        <h2>Título del caso</h2>

        <div class="image">

        </div>
        



        <div class="text">
            <h3>Tecnología usada</h3>

            <br/><br/>

            <strong>Front-end</strong>
            <p>Lorem ipsum</p>

            <br/><br/>

            <strong>Back-end</strong>
            <p>Lorem ipsum</p>

            <br/><br/>

            <h3>Otros</h3>
            <br/><br/>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
            </p>

            <br/><br/>

            <h3>El caso</h3>

            <br/><br/>

            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
            </p>

            <br/><br/>

            <h3>Resultado</h3>

            <br/><br/>

            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
            </p>
        </div>


    </div>

</div>
