<div class="footer">
    <div class="box1">
        <img src="../../../assets/img/logobw.svg" />
        <p>
            {{"FOOTER.Title" | translate }}
        </p>
    </div>

    <div class="box2">
        <h2>{{"FOOTER.Subtitle" | translate }}</h2>
        <span class="icon"><mat-icon [inline]="true">email</mat-icon>
            support@farjitecnologia.com
        </span>
        <span class="icon"><mat-icon [inline]="true">place</mat-icon>
            Curitiba, Brasil
        </span>

    </div>

    <div class="box3">
        <p>
            Copyright &copy; Farji Tecnología. All rights reserved.
        </p>
    </div>
  
    
</div>
