<nav>
    <div class="logo">
        <img src='../../../assets/img/logo.svg' />
    </div>

    <div class="select-box">
        <div class="select-box__current" tabindex="1">
            <div class="select-box__value">
                <input class="select-box__input" type="radio" id="1" value="4" name="Ben" checked="checked" />
                <p class="select-box__input-text"><img class="icon" src="../../../assets/img/us.png" /><span class="text-in">English</span></p>
            </div>
            <div class="select-box__value">
                <input class="select-box__input" type="radio" id="2" value="5" name="Ben" checked="checked" />
                <p class="select-box__input-text"><img class="icon" src="../../../assets/img/br.png" /><span class="text-in">Português</span></p>
            </div>
            <div class="select-box__value">
                <input class="select-box__input" type="radio" id="0" value="1" name="Ben" checked="checked" />
                <p class="select-box__input-text"><img class="icon" src="../../../assets/img/uy.png" /><span class="text-in">Español</span></p>
            </div>
            <img class="select-box__icon" src="http://cdn.onlinewebfonts.com/svg/img_295694.svg" alt="Arrow Icon" aria-hidden="true" />
        </div>
        <ul class="select-box__list">
            <li (click)="selectLang('es')">
                <label class="select-box__option" for="0" aria-hidden="aria-hidden"><img class="icon-list" src="../../../assets/img/uy.png" /><span class="text-in">Español</span></label>
            </li>
            <li (click)="selectLang('en')">
                <label class="select-box__option" for="1" aria-hidden="aria-hidden"><img class="icon-list" src="../../../assets/img/us.png" /><span class="text-in">English</span></label>
            </li>
            <li (click)="selectLang('pt')">
                <label class="select-box__option" for="2" aria-hidden="aria-hidden"><img class="icon-list" src="../../../assets/img/br.png" /><span class="text-in">Português</span></label>
            </li>
        </ul>
    </div>


</nav>