<div class="container1">

    <div class="items">
        <div class="item">
            <div class="inside1">
                <h2>{{ "INFOSECTION1.Title" | translate }}</h2>
                <p>
                    {{ "INFOSECTION1.Content1-1" | translate }}
                    <br/><br/>
                    {{ "INFOSECTION1.Content1-2" | translate }}
                </p>
            </div>
        </div>

        <div class="item">
            <div class="inside2">
                <img src="../../../assets/img/infosec1.svg" />
            </div>
        </div>


        <div class="item">
            <div class="inside3">
                <h3>{{ "INFOSECTION1.Subtitle2" | translate }}</h3>
                <p>
                    {{ "INFOSECTION1.Content2" | translate }}
                </p>
                <ul>
                    <li><span class="icon"><mat-icon [inline]="true">task_alt</mat-icon></span>
                        {{ "INFOSECTION1.Content2-li-1" | translate }}
                    </li>
                    <li><span class="icon"><mat-icon [inline]="true">task_alt</mat-icon></span>
                        {{ "INFOSECTION1.Content2-li-2" | translate }}
                    </li>
                    <li><span class="icon"><mat-icon [inline]="true">task_alt</mat-icon></span>
                        {{ "INFOSECTION1.Content2-li-3" | translate }}
                    </li>
                </ul>
            </div>
        </div>


        <div class="item">
            <div class="inside4">
                <h3>SRE</h3>
                <p>
                    {{ "INFOSECTION1.Content3" | translate }}
                </p>
                <ul>
                    <li><span class="icon"><mat-icon [inline]="true">task_alt</mat-icon></span>
                        {{ "INFOSECTION1.Content3-li-1" | translate }}
                    </li>
                    <li><span class="icon"><mat-icon [inline]="true">task_alt</mat-icon></span>
                        {{ "INFOSECTION1.Content3-li-2" | translate }}
                    </li>
                    <li><span class="icon"><mat-icon [inline]="true">task_alt</mat-icon></span>
                        {{ "INFOSECTION1.Content3-li-3" | translate }}
                    </li>
                    <li><span class="icon"><mat-icon [inline]="true">task_alt</mat-icon></span>
                        {{ "INFOSECTION1.Content3-li-4" | translate }}
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>