<div class="container">
    <h2>{{ "INFOSECTION2.Title" | translate }}</h2>

    <div class="items">

        <div class="item">
            <div class="inside1">
                <img src="../../../assets/img/t1.svg" />
                <p>
                    {{ "INFOSECTION2.Content1" | translate }}
                </p>
            </div>
        </div>

        <div class="item">
            <div class="inside2">
                <img src="../../../assets/img/t2.svg" />
                <p>
                    {{ "INFOSECTION2.Content2" | translate }}
                </p>
            </div>

        </div>


        <div class="item">
            <div class="inside3">
                <img src="../../../assets/img/t3.svg" />
                <p>
                    {{ "INFOSECTION2.Content3" | translate }}
                </p>
            </div>
        </div>


        <div class="item">
            <div class="inside4">
                <img src="../../../assets/img/t4.svg" />
                <p>
                    {{ "INFOSECTION2.Content4" | translate }}
                </p>
            </div>
        </div>

    </div>
</div>